@import url(https://fonts.googleapis.com/css?family-Poppins:100,200,300,400,500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poopins, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}
/* primer card */
.card
{
    position: relative;
    width: 350px;
    height: 190px;
    background: #333;
    transition: 0.5s;
}

.card:hover
{
    height: 450px;
}

.card .lines
{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,#ff0101,#ff0101,#ff0101, transparent);
    animation: animate 3s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(360deg);
  
    }
}

.card .lines::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}


/* segunda card azul */
.card .imgBx
{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.card:hover .imgBx
{
    width: 250px;
    height: 250px;
}

.card .imgBx::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent,#cb3737, #cb3737,#cb3737, transparent);
    animation: animate2 50s linear infinite;
}

@keyframes animate2
{
    0%
    {
        transform: translate(-50%, -50%) rotate(3600deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(0deg);
  
    }
}

.card .imgBx::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

/* foto */
.card .imgBx img
{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);

}

.card .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.card:hover .content .details
{
    transform: translateY(0px);
}

.card .content .details h2
{
    font-size: 1.25em;
    font-weight: 600;
    color: #ff4545;
    line-height: 1.2em;
}

.card .content .details h2 span
{
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}

.card .content .details .data
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3
{
    font-size: 1em;
    color: #ff4545;
    line-height: 1.2em;
    font-weight: 600;
    text-align: center;
}

.card .content .details .data h3 span
{
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
}

.card .content .details .actionBtn
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card .content .details .actionBtn button:nth-child(2)
{
    background:#30d41a;

}

.card .content .details .actionBtn .botonemail
{
    width: 8em;
    height: 2em;
    background-color: #4845ff;
    border-radius: 5px;
    color: #fff;
    color: pointer;
    text-align: center;
    justify-content: center;
    opacity: 1;
    text-decoration: none;
}

.card .content .details .actionBtn .botonwp
{
    width: 8em;
    height: 2em;
    background-color: #30d41a;
    border-radius: 5px;
    color: #fff;
    color: pointer;
    text-align: center;
    justify-content: center;
    opacity: 1;
    text-decoration: none;
}

/* form */

:root{
    --colorTextos: #49454567;
}

.h1contacto{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}

form{
    background: rgb(194, 184, 246);
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color:#51509d;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid rgb(50, 126, 248);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(216, 216, 216);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #4845ff;
}

label{
    color: rgb(130, 120, 194);
    font-size: 18px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #4845ff, #1a1956);
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: #4845ff;
    background: -webkit-linear-gradient(to right, #4845ff, #1a1956);
    background: linear-gradient(to right, #4845ff, #1a1956);
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    form{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    form{
        width: 60%;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}